# onboard LEDs for debugging
set_io -nowarn led_r	41
set_io -nowarn led_g	39
set_io -nowarn led_b	40

# Seven-segment display LEDs
set_io -nowarn seg_a 9
set_io -nowarn seg_b 11
set_io -nowarn seg_c 18
set_io -nowarn seg_d 19
set_io -nowarn seg_e 13
set_io -nowarn seg_f 21
set_io -nowarn seg_g 12

set_io -nowarn display_1 27
set_io -nowarn display_2 26
